@import 'tailwindcss';
@import "@heroui/styles";

/* body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
} */

/* .content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
} */

@keyframes growFromUpperRight {
  from {
    transform: scale(0%, 0%);
  }
  to {
    transform: scale(100%, 100%);
  }
}

@keyframes shrinkToUpperRight {
  from {
    transform: scale(100%, 100%);
  }
  to {
    transform: scale(0%, 0%);
  }
}

.growFromUpperRight {
  transform-origin: top right;
  animation-name: growFromUpperRight;
  animation-duration: 250ms;
}

.shrinkToUpperRight {
  transform: scale(0%, 0%);
  transform-origin: top right;
  animation-name: shrinkToUpperRight;
  animation-duration: 250ms;
}

@keyframes moveOutOfView {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.moveOutOfView {
  transform: translateX(100%);
  animation-name: moveOutOfView;
  animation-duration: 500ms;
}
